.nav {
  width: 100%;
  padding: 20px;
  
  display: flex;
  flex-direction: row;
}

.nav > * {
  cursor: pointer;
  margin: auto 0;
}

.nav__logo {
  color: rgba(0, 0, 0, 0.9);
  margin: 0 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}