.hex-input {
  border-radius: 2px;

  margin-bottom: 10px;
  box-shadow: 0 0px 3px -1px black;
}

.hex-input__code {
  padding: 0;
  margin: 0;
  font-size: 20px;
  padding: 7px 10px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  background: white;
  grid-gap: 8px;
}

.color-grid__option {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0px 3px -1px black;
}