.NewColorPicker {
}

.hex-input {
  border-radius: 2px;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-size: 20px;

  box-shadow: 0 0px 3px -1px black;
}

.color-options {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  background: white;
  grid-gap: 8px;
}

.color-option {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0px 3px -1px black;
}

.color-option > div {
  border: 6px solid white;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
}